@media (max-width: $breakpoint-medium) {
  h5 {
    font-size: 21px;
  }

  .container {
    padding: 0;
  }

  header {
    padding: 0 17px;

    & .big-menu {
      margin-right: 5px;

      & .menu__btn {
        top: 23px;
        left: 16px;
      }

      & .big-menu__wrapper {
        top: 68px;

        & .big-menu__lists {
          padding: 25px 35px;

          & .big-menu__list-2 {
            margin-right: 0;
          }

          & .big-menu__list-3 {
            display: none;
          }

          & .big-menu__item-hidden {
            display: inline-block;
          }

          & .menu-medium__phone {
            display: flex;
            font-size: 16px;
            font-weight: $font-weight--p1-bold;
            line-height: $line-height--p1-bold;
            color: $green;
            margin: 13px 0;
          }
        }
      }
    }

    & .header__logo {
      padding-top: 5px;
    }

    & .header__info {
      width: 62%;

      & .small-menu, .btn-callback, .header__phone {
        display: none;
      }

      & .sing-in {
        display: flex;
        justify-content: space-between;

        & p {
          font-size: 18px;
          margin-right: 10px;
        }

        & span {
          color: $green;
        }
      }

      & .header__search {
        height: 74px;
        padding: 0 9px 0 16px;

        & input {
          width: 126px;
        }
      }

      & .header__info-order .header__scale {
         margin-right: 24px;
      }
    }
  }

  .slider .prev,
  .slider .next {
    display:none!important;
  }

  .slider-container {
    background-image: url("../img/banner/laptop.png");
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slider .slick-dots {
    margin-top: -23px;

    & li {
      width: 16px;

      & button {
        padding: 4px;
      }
    }
  }

  .slider .slider-container {
    height: 356px;

    & .slider-container__content {
      padding: 27px 0 45px;

      & p {
        font-size: 36px;
      }

      & a {
        padding: 3px 12px;
        font-size: 10px;
      }
    }
  }

  .img-menu {
    flex-wrap: wrap;
    margin-bottom: 0;

    & .img-menu__list {
      width: 33.3%;
      flex: none;
      padding: 23px 20px;

      & .img-menu__item-img {
        text-align: center;
      }

      & .img-menu__item-title {
        padding: 22px 10px 0;
        font-size: 18px;
      }
    }
  }


  .popular-products {
    margin: 44px 0;

    & .popular-products__list {
      width: 100%;

      & .popular-products__subtitle {
        font-size: 18px;
        margin: 8px 0 32px;
      }

      & .popular-products__item {
        text-align: center;
        padding: 30px 24px;
        width: 33.3%;

        & .popular-products__description {
          margin: 8px 0 25px;
        }

        & .popular-products__item-img {
          padding: 0;
          margin: 0 -13px;
        }
      }

      & .popular-products__item-white {
        padding: 28px 0;

        & h5 {
          line-height: 22px;
          padding: 0 45px;
        }

        & .popular-products__description {
          margin: 8px 9px 5px;
        }

        & .popular-products__item-img {
          margin: 0 5px;
        }

        .popular-products__item-best {
          margin-top: -13px;
        }
      }
    }

    & .popular-products__catalog-link {
      width: 253px;
      margin: 33px auto 0;

      & a {
        letter-spacing: 0.02em;
      }
    }
  }

  .sale-products {
    margin-bottom: -2px;
    padding-top: 6px;
  }

  .sale-products .sale-products__list {
    flex-direction: column;

    & .sale-products__item {
      width: 96%;
      margin: 0 auto 24px;

      & .products__item-content h2 {
        font-size: 45px;
      }

      & .sale-products__item-tip {
        padding: 21px 14px;
        font-size: 26px;
      }

      & .sale-products__item-black {
        padding: 19px 10px;
        width: 90px;

        & span {
          font-size: $font-size--p2-bold;
          line-height: $line-height--p2-bold;
        }
      }

      & .products__item-content {
        padding: 106px 304px 0 69px;

        & h6 {
          font-size: 46px;
        }

        & .sale-products__description {
          font-size: 19px;
          line-height: 26px;
          margin: 29px 0 0;
        }

        & .price {
          margin: 18px 0 6px;
          font-size: 24px;
        }

        & .sale-products__link {
          width: 226px;

          & a {
            margin: 40px 0 56px;
            padding: 12px 28px 10px;
            display: flex;
            width: 143px;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.03em;
          }
        }

        & .white-arrows {
          display: inline-block;
        }

        & .dark-arrows {
          display: inline-block;
        }
      }
    }
  }

  .section-content {
    padding-bottom: 45px;

    & h1 {
      margin-bottom: 16px;
      padding-top: 50px;
    }

    & p {
      width: 95%;
      line-height: 19px;
    }
  }

  footer {
    & .footer-top {
      padding: 33px 17px 17px;
      flex-direction: column;

      & .footer-top__column-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-right: 20px;

        & .footer-top__logo {
          width: 50%;
        }

        & .footer-top__address {
          width: 50%;
          padding: 14px 0 0 30px;

          & p {
            padding-bottom: 6px;
          }

          & .footer-top__phone {
            padding: 0 0 6px 0;
          }
        }
      }

      & .footer-top__column-2 {
        padding-top: 42px;

        & ul {
          padding-right: 0;

          & li {
            padding-bottom: 17px;

            & a {
              font-size: 19px;
            }
          }
        }

        & .footer-top__column-menu-3 {
          flex-basis: 25%;
        }
      }
    }

    & .footer-bottom {
      padding: 17px;
      flex-direction: column;

      & p {
        padding-bottom: 4px;
      }

      & div {

        & img {
        margin-right: 150px;
        }
      }
    }
  }
}


@media (max-width: $breakpoint-small) {

  h2 {
    font-size: 21px;
  }
  header {
    padding: 0 12px;

    & .big-menu {
      margin-right: 45px;

      & .menu__btn {
        top: 16px;
        left: 12px;
      }

      & .menu__search {
        background-color: $grey95;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 9px 20px 19px;
        width: 100%;
        margin-right: 15px;

        & input {
          color: $white;
          border: none;
          background-color: transparent;
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 105px;
        }

        & input::placeholder {
          font-size: 16px;
          color: $grey40;
        }
      }

      & .big-menu__wrapper {
        top: 50px;
        right: 0;
        left: 0;

        & .big-menu__lists {
          flex-direction: column;
          padding-left: 15px;
          margin-right: 0;

          & .menu-medium__phone {
            display: none;
          }

          & .menu__phone {
            display: flex;
            font-size: 16px;
            font-weight: $font-weight--p1-bold;
            line-height: $line-height--p1-bold;
            color: $green;
            margin: 13px 0;
          }

          & .big-menu__list-2 {
            padding-top: 0;

            &.big-menu__list-menu {
              font-size: 34px;
            }

            & .big-menu__list-catalog {
              font-size: 18px;
              padding-top: 13px;
            }

            & li {
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    & .header__logo {

      & svg.logo__big {
        display: none;
      }

      & svg.logo__small {
        display: block;
      }
    }

    & .header__info {
      width: 23%;

      & .header__search, .sing-in {
      display: none;
      }
    }
  }

  .slider .slider-container {
    height: 473px;
    background-image: url("../img/banner/mobi.png");

    & .slider-container__content {
      padding: 26px 0 40px;

      & p {
        font-size: 32px;
      }

      & a {
        padding: 11px 23px;
        font-size: 16px;
      }
    }
  }

  .img-menu {
    display: none;
  }

  .slider-img-menu {
    display: block;

    & .slider-img-menu__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 285px;
      padding: 30px 0;

      & .slider-img-menu__content-img {
        margin-bottom: 20px;
      }

      & p {
        font-size: 18px;
      }
    }

    .slick-dots {
      position: static;
      margin-top: -24px;

      & li {
        margin: 0;
      }

      & li button {
        background: $grey80;
        content: none;
        border-radius: 50%;
        height: 8px;
        width: 8px;
      }
    }
  }

  .popular-products {
    margin: 12px auto;

    & .popular-products__title {
      text-align: center;
      padding: 0 20px;

      & h2 {
        font-size: 24px;
      }

      & .popular-products__subtitle {
        font-size: 16px;
        letter-spacing: 0.05em;
        padding: 0 5px 0;
        line-height: 22px;
      }
    }

    & .popular-products__list {
      flex-direction: column;
      margin-top: -6px;
      width: 100%;

      & .popular-products__item {
        width: 100%;
        padding: 26px 20px 14px
      }
      & .popular-products__item-grey {

        & .popular-products__description {
          margin: 13px 0 43px;
        }
      }

      & .popular-products__item-white {

        & h5 {
          padding: 0 5px;
        }

        & .popular-products__description {
          margin: 11px 0 25px;
        }

        & .popular-products__item-img {
          padding: 0;
        }

        & .popular-products__item-best {
          margin: -40px 0 10px;
        }
      }
    }

    & .popular-products__catalog-link {
      width: 253px;
      margin: 18px auto;
    }
  }

  .sale-products {
    margin-bottom: 10px;
    padding-top: 0;

    & .sale-products__list {
      & .sale-products__item {
        width: 100%;
        margin: 0 auto 8px;

        & .products__item-content {
          padding: 35px 300px 16px 30px;

          & h6 {
            font-size: 21px;
          }

          & .sale-products__description {
            font-size: 9px;
            line-height: 12px;
            margin: 3px 0 0;
            padding-right: 50px;
          }

          & .sale-products__link a {
            margin: 12px 0 5px;
            padding: 0 6px 0 9px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 65px;
            font-size: 8px;
            font-weight: 700;
            line-height: 20px;
            align-items: center;
          }

          & .price {
            margin: 2px 0 0px;
            font-size: 12px;
          }

          & .dark-arrows {
            padding-left: 18px;
          }
        }

        & .sale-products__item-tip {
          left: 30px;
          padding: 9px 5px;
          font-size: 12px;
        }

        & .sale-products__item-black {
          padding: 6px 3px;
          left: 28px;
          width: 39px;
          line-height: 10px;

          & span {
            font-size: 8px;
            line-height: 0!important;
          }
        }
      }

      & .sale-products__item-2 {

        & .products__item-content {
          padding: 35px 300px 16px 27px;

          & h6 {
            font-size: 21px;
          }

          & .sale-products__description {
            font-size: 9px;
            line-height: 12px;
            margin: 3px 0 0;
            padding-right: 70px;
          }

          & .sale-products__link a {
            margin: 12px 0 5px;
            padding: 0 6px 0 9px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 65px;
            font-size: 8px;
            font-weight: 700;
            line-height: 20px;
            align-items: center;

            & .white-arrows {
              padding-left: 16px;
              margin-top: -2px;
            }
          }

          & .price {
            margin: 8px 0 17px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .section-content {
    padding-bottom: 12px;

    & h1 {
      margin-bottom: 16px;
      padding-top: 25px;
      letter-spacing: 0.06em;
      font-size: 21px;
    }

    & p {
        width: 88%;
        line-height: 18px;
        margin: 0 auto 14px;
    }
  }

  footer {

    & .footer-top {
      flex-direction: column;
      padding: 13px 21px 0;

      & .footer-top__column-1 {
        flex-direction: column;
        padding: 0;

        & .footer-top__logo {
          width: 100%;
          text-align: center;
        }

        & .footer-top__address {
          width: 100%;
          padding-left: 0;
          padding-top: 0;
          text-align: left;

          & .footer-top__column-social {
            margin-top: 6px;
          }
        }
      }

      & .footer-top__column-2 {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 9px;

        & ul {
          width: 100%;
          flex: 0 0 45%;

          & li {
            padding-bottom: 23px;

            & a {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }

        & .footer-top__column-menu-3 {
          flex-basis: 40%;
        }
      }
    }

    & .footer-bottom {
      padding: 20px;
      letter-spacing: 0.07em;

      & p {
        margin-right: 0;
      }

      & div {
        display: flex;

        & a {
          margin-top: -26px;
        }
      }
    }
  }
}
