header {
  background-color: $grey100;
  color: $white;
  position: relative;
  width: 100%;
  height: 72px;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & .button_hamburger {
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
    margin-top: -15px;
    background-color: transparent;
    border: none;

    & span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 11px;
    }
  }
}

.button_hamburger::after, header .button_hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  left: 0;
}

.button_hamburger::after {
  top: 17px;
}

.button_hamburger::before {
  top: 5px;
}

header .button_hamburger.active span {
  display: none;
}

header .button_hamburger.active:before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

header .button_hamburger.active:after {
  top: auto;
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.big-menu__wrapper.open {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  top: 72px;
}

.logo__small {
  display: none;
}

.big-menu__wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background-color: $grey100;
  padding: 24px 40px 40px;
  top: -100%;
  opacity: 0;
  visibility: hidden;


  & .big-menu__lists {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 33px;

    & .big-menu__list {
      margin-right: 140px;

      & .big-menu__list-menu {
        font-size: $font-size--h1;
        font-weight: $font-weight--h1;
        line-height: $line-height--h1;
        color: $grey60;
      }

      & .big-menu__list-catalog {
        font-size: $font-size--h4;
        font-weight: $font-weight--h4;
        line-height: 44px;
        color: $grey60;
      }

      & .big-menu__list-item {
        font-size: $font-size--link;
        line-height: 43px;
        font-weight: $font-weight--link;
        color: $white;
      }
    }

    & .big-menu__list-2 {
      height: 180px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

.big-menu__list > ul > li > a:hover, .small-menu > li > a:hover {
  text-decoration: underline;
  color: white;
}

.small-menu {
  margin: 0 53px 0 31px;
  display: flex;
  flex-direction: row;

  & li a {
    font-size: $font-size--link;
    font-weight: $font-weight--link;
    line-height: $line-height--link;
    padding: 0 0 0 30px;
    color: $white;
  }
}

.header__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 79%;

  & .header__phone {
    font-size: 16px;
    font-weight: $font-weight--p1-bold;
    line-height: $line-height--p1-bold;
    display: block;
  }
}

.btn-callback {
  font-size: $font-size--p2-normal;
  font-weight: $font-weight--p2-normal;
  line-height: $line-height--p2-normal;
  color: $green;

  & button {
    width: 87px;
    height: 45px;
    color: $green;
    border: 1px solid $green;
    background-color: transparent;
    border-radius: 4px;
  }
}

.header__info-order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;

  & .header__scale {
    display: block;
    position: relative;
    margin-right: 40px;

    & .header__scale-count {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1px 4px 0 4px;
      border-radius: 50px;
      background-color: $green;
      font-size: 11px;
      line-height: 13px;
      color: $white;
      transform: translate(80%, -8px);
    }
  }

  & .header__cart {
    display: block;
    position: relative;

    & .header__cart-count {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1px 4px 0 4px;
      border-radius: 50px;
      background-color: $green;
      font-size: 11px;
      line-height: 13px;
      color: $white;
      transform: translate(80%, -8px);
    }
  }
}

.header__search {
  height: 72px;
  background-color: $grey95;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 9px 0 19px;

  & input {
    color: $white;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 121px;
  }

  & input::placeholder {
    font-size: 16px;
    color: $grey40;
  }
}

.sing-in, .menu__phone {
  display: none;
}

.big-menu__header-search{
  display: none;
}

.menu__phone, .menu-medium__phone, .big-menu__item-hidden {
  display: none;
}