.slider-img-menu {
  display: none;
}
.slider__button {
  position: absolute;
  top: 51%;
  margin-top: -20px;
  font-size: 0;
  width: 47px;
  height: 47px;
  border: 1px solid $white;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}
.prev {
  left: 44px;
  z-index: 9999;
}
.prev::after {
  content: '<';
  font-size: 20px;
  color: $white;
  font-weight: 700;
}
.next {
  right: 44px;
}
.next::after {
  content: '>';
  font-size: 20px;
  color: $white;
  font-weight: 700;
  margin-left: 4px;
}




#slider .slick-arrow {
  position: absolute;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ffffff;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
}

#slider .slick-arrow:before {
  color: #ffffff;
  font-size: 24px;
}

#slider .slick-arrow-left {
  left: 40px;
}

#slider .slick-arrow-left:before {
  transform: rotate(-180DEG);
}

#slider .slick-arrow-right {
  right: 40px;
}

#slider .slick-dots {
  position: absolute;
  left: 0px;
  bottom: 30px;
  width: 100%;
  z-index: 1;
}

#slider .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#slider .slick-dots li {
  margin-left: 0px;
}

#slider .slick-dots li:first-child {
  margin-left: 0;
}

#slider .slick-dots li button {
  box-shadow: none;
  border-radius: 0px;
  outline: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#slider .slick-dots li button {
  display: block;
  width: 8px;
  height: 8px;
  background-color: $grey40;
  border-radius: 50%;
  font-size: 0px;
}

#slider .slick-dots li.slick-active button {
  background-color: #ffffff;
}
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

#slider .img-slider__tablet, #slider .img-slider__mobil {
  display: none;
}