$font-family--main: "MyriadPro", sans-serif;
$minWidth: 320;
$maxWidth: 1440;

$breakpoint-medium: 768px;
$breakpoint-small: 320px;

//H1-H2
$font-size--h1: 44px;
$font-weight--h1: 700;
$line-height--h1: 44px;

$font-size--h2: 32px;
$font-weight--h2: 700;
$line-height--h2: 32px;

$font-size--h3: 24px;
$font-weight--h3: 700;
$line-height--h3: 28px;

$font-size--h4: 20px;
$font-weight--h4: 700;
$line-height--h4: 24px;

$font-size--h5: 21px;
$font-weight--h5: 700;
$line-height--h5: 20px;

//text_p
$font-size--p1-bold: 18px;
$font-weight--p1-bold: 700;
$line-height--p1-bold: 24px;

$font-size--p2-bold: 14px;
$font-weight--p2-bold: 700;
$line-height--p2-bold: 18px;

$font-size--p1-normal: 18px;
$font-weight--p1-normal: 400;
$line-height--p1-normal: 24px;

$font-size--p2-normal: 14px;
$font-weight--p2-normal: 400;
$line-height--p2-normal: 18px;

//colors
$red: #C84149;
$green-light: #89CF36;
$green: #78BC27;
$green-dark: #63A713;
$grey100: #21232E;
$grey95: #333640;
$grey80: #5F626B;
$grey60: #9EA1A7;
$grey40: #D3D4D7;
$grey30: #E5E6E7;
$grey20: #F3F4F2;
$white: #FFFFFF;

//links
$font-size--link: 18px;
$color--link: $grey100;
$line-height--link: 24px;
$font-weight--link: 400;

//button
$font-size--btn: 16px;
$color--btn: #21232E;
$font-weight--btn: 600;
$line-height--btn: 19px;
$letter-spacing--btn: 0.04em;








